<a href="https://colab.research.google.com/github/abishekravi/Coursera-Project/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1 :  Created notebook DataScienceEcosystem.ipynb

# Exercise 2 - Title of the Notebook
# Data Science Basics

# Exercise 3 - Introduction
## Introduction
This notebook covers fundamental concepts and practices in Data Science, including programming languages, libraries, tools, and basic arithmetic operations used in data analysis.

# Exercise 4 - Data Science Languages
## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

# Exercise 5 - Data Science Libraries
## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- ggplot2
- dplyr

# Exercise 6 - Table of Data Science Tools
## Data Science Tools

| Tool           | Description                        |
|----------------|------------------------------------|
| Jupyter Notebook | Interactive computing environment  |
| RStudio          | IDE for R                          |
| Apache Spark     | Big data processing framework     |
| Tableau          | Data visualization software       |
| TensorFlow       | Machine learning library          |

# Exercise 7 - Arithmetic Expression Examples
## Arithmetic Expression Examples
Below are examples of basic arithmetic operations like addition and multiplication.

# Exercise 8 - Code to Multiply and Add Numbers
#```python

In [2]:

# Code cell
# Multiply and add numbers
a = 5
b = 4
product = a * b
sum_result = a + b
product, sum_result

(20, 9)

# Exercise 9 - Code to Convert Minutes to Hours

In [3]:
# Code cell
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Exercise 10 - Objectives
Objectives

Understand key programming languages in Data Science

Learn about important libraries and tools

Perform basic arithmetic operations

Convert time units from minutes to hours

# Ex 11
Autho details : Abishek.R